<h1 class="mt-4 mb-4">Cập nhật khóa học</h1>
<form method="POST" action="/courses/{{courses._id}}?_method=PUT">
  <div class="row d-block">
    <div class="mb-3 col-6">
      <label for="exampleInputEmail1" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{courses.name}}"
        id="exampleInputEmail1"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">Mô tả</label>
      <textarea
        class="form-control"
        name="description"
        id="exampleInputPassword1"
      >{{courses.description}}</textarea>
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">Trình độ</label>
      <input
        type="text"
        class="form-control"
        name="lever"
        value="{{courses.lever}}"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3 col-6">
      <label for="exampleInputPassword1" class="form-label">VideoID</label>
      <input
        type="text"
        class="form-control"
        name="videoID"
        value="{{courses.videoID}}"
        id="exampleInputPassword1"
      />
    </div>
    <div class="ml-4">
      <button type="submit" class="btn btn-primary col-2">Sửa khóa học</button>
      <a href="/me/stored/courses" class="btn btn-primary col-2">Quay lại</a>
    </div>
  </div>
</form>