<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Update Course</h1>
    <a href="/me/trash/courses" class="d-inline-block text-decoration-none">
      <p>
        Thùng rác ({{countCoursesDeleted}})
      </p>
    </a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên Khóa Họ</th>
        <th scope="col">Trình Độ</th>
        <th scope="col" colspan="3">Thời Gian Tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{count @index}}</th>
          <td>{{this.name}}</td>
          <td>{{this.lever}}</td>
          <td>{{formatDate this.createdAt}}</td>
          <td><a
              href="/courses/{{this._id}}/edit"
              class="btn btn-link"
            >Sửa</a></td>
          <td><a
              href="#"
              class="btn btn-link"
              data-bs-toggle="modal"
              data-bs-target="#delete-courses-modal"
              data-id="{{this._id}}"
            >Xóa</a></td>
        </tr>
      {{else}}
        <tr>
          <td colspan="5" class="text-center border-bottom-0">Bạn chưa đăng khóa
            học nào .
            <a href="/courses/create">Đăng khóa học</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! submit from delete }}
<form id="from_delete" method="POST">
</form>

{{! confirm delete }}
<div id="delete-courses-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Khó Học?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn muốn chắc chắc muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button id="delete" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
  var coursesID; var delete_modal =
  document.getElementById('delete-courses-modal'); var submit_from_delete =
  document.getElementById('from_delete'); var btn_delete =
  document.getElementById('delete'); btn_delete.onclick = function() {
  submit_from_delete.action = '/courses/' + coursesID + '?_method=DELETE';
  submit_from_delete.submit(); }; delete_modal.addEventListener('show.bs.modal',
  function (event) { var button = event.relatedTarget; coursesID =
  button.getAttribute('data-id'); })
</script>